@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'Abhaya Libre', serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #f0dbff;
  margin-top: 20vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 10vh;
}

h1{
  font-size: 5rem;
}
h2{
  font-size: 3rem;
}

.rasp {
  width: 1000px;
  height: 500px;
  object-fit: cover;
}
